{% extends 'app_blog/base.html' %}


{% block title %} {{category.title}} | {% endblock %}

{% block content %} 

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <section class="section">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <div class="content is-medium">
                                <a href="{% url 'category_detail' category.slug  %}">
                                    <h2 class="subtitle is-4"> {{category.created_at|timesince }} ago</h2>
                                    <h1 class="title">{{category.title}}</h1>
                                </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section mb-6">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <h2 class="subtitle is-4">Posts in this category:</h2>
                        {% if category %}
                            {% if posts %}
                            <ul>
                                {% for post in posts %}
                                    {{ post.created_at|timesince }} ago 
                                    <li>
                                        <a href="{% url 'post_detail' category.slug post.slug %}">
                                            {{ post.title }}<br> 
                                        </a>
                                        {{ post.intro }}<br><br> 
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <div class="content">
                                <p>There are no posts in this category...</p>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="content">
                            <p>{{ error_message }}</p>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

{% endblock %}



